{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}
<div class="px-4 md:px-8 pt-8 min-h-screen bg-blue-50">
    <h1 class="text-center text-3xl sm:text-4xl font-extrabold text-gray-900 mb-2">Welcome to Thrift Shop!</h1>
    <h2 class="text-center text-xl sm:text-2xl text-yellow-500 font-semibold">"Old But Gold"</h2>
    <h3 class="text-center text-base sm:text-xl text-blue-600 mt-1">Hello, {{ name }}! These are your products:</h3>

    {% if not products %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
        <img src="{% static 'image/sadpanda.png' %}" alt="No products" class="w-32 h-32 mb-4"/>
        <p class="text-gray-600 text-center">Belum ada produk yang terdaftar di Thrift Shop.</p>
    </div>
    {% else %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 mt-7">
        {% for product in products %}
        <div class="bg-gray-50 rounded-lg shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300">
            <div class="p-4">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-48 object-contain mb-4">
                {% else %}
                <div class="bg-gray-100 w-full h-48 flex items-center justify-center text-gray-500">No Image</div>
                {% endif %}

                <div class="bg-blue-400 text-white font-semibold text-center py-2 rounded-md mb-4">
                    <h3 class="text-xl">{{ product.name }}</h3>
                </div>
                <p class="text-gray-600">Description: {{ product.description }}</p>
                <p class="text-gray-600">Price: {{ product.formatted_price }}</p>
                <p class="text-gray-600">Category: {{ product.category }}</p>
                <p class="text-gray-600">Brand: {{ product.brand }}</p>
                <p class="text-gray-600">Condition: {{ product.condition }}</p>
                <p class="text-gray-600">Stock: {{ product.stock }}</p>
            </div>
            <div class="flex justify-between items-center bg-gray-50 p-4">
                <a href="{% url 'main:edit_product' product.pk %}" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md">Edit</a>
                <a href="{% url 'main:delete_product' product.pk %}" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-md">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="flex justify-end mt-8">
        <a href="{% url 'main:create_product' %}" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-md">Add New Product</a>
    </div>

    <!-- Last login -->
    <div class="mt-7 flex justify-center">
        <p class="bg-blue-600 px-5 py-3 text-white font-mono rounded shadow-lg">Last Login: {{ last_login }}</p>
    </div>
</div>
{% endblock content %}
