{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center;">Welcome to Thrift Shop!</h1>
    <h1 style="text-align: center; color: goldenrod;">"Old But Gold"</h1>

    {% if not products %}
    <p>Belum ada produk yang tersedia.</p>
    {% else %}
    <table border="1" cellpadding="5" cellspacing="10" >
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Condition</th>
            <th>Stock</th>
        </tr>

        {% for product in products %}
        <tr>
            <td>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
                {% else %}
                    No Image
                {% endif %}
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.formatted_price }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.condition }}</td>
            <td>{{ product.stock }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <br />

    <a href="{% url 'main:create_product' %}">
        <button>Add New Product</button>
    </a>

{% endblock %}
